/* App.css */
/* In App.css */
body, html , :root {
  margin: 0; /* Ensure there's no margin around the body */
  padding: 0; /* Ensure there's no padding around the body */
  width: 100%; /* Full width */
  height : 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
 width: 100%;
}

.app-tabs{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.lightTheme{
  background-color: #88B04B;
    color: white;
  
/*Accent: #B2E0D4 (soft mint for buttons)*/

}
.darkTheme{
  background-color: #88B04B;
    color: black;
  
  /*Accent: #A8D3B6 (soft green for highlights)*/
}

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
} /*Resets the the css*/

