/* App.css */
.root{
  --primary-color: #A8D3B6;
  --secondary-color: 

}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
 width: 150vh;
}

.app-tabs{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.navbar {
  background-color: #A8D3B6 ;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}


.audio-player {
  background-color: mediumaquamarine;
  color: white;
  padding: 10px;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.lightTheme{
  background-color: #F5F5F5;
  color: #333333;
  
/*Accent: #B2E0D4 (soft mint for buttons)*/

}
.darkTheme{

  background-color: #2C2C2C;
  color: #FFFFFF;
  /*Accent: #A8D3B6 (soft green for highlights)*/
}


