.title-container {
    display: grid;                     /* Use CSS Grid layout */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
    gap: 10px;                         /* Space between items */
    list-style-type: none;             /* Remove default list styling */
    padding: 0;                        /* Remove default padding */
    margin: 0;                         /* Remove default margin */
}

.title-block {
    background-color: #000000;         /* Light gray background */
    border: 1px solid #ccc;            /* Border around each title */
    border-radius: 5px;                /* Rounded corners */
    padding: 5px;                     /* Padding inside the block */
    text-align: center;                /* Center text */
}

.podcast-image{
    width:  10rem;
    height: 10rem;

}
.podcast-title-name{
    display: flex;
    justify-content: left;
   
}
