.title-container {
    display: grid;                     /* Use CSS Grid layout */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
    gap: 10px;                         /* Space between items */
    list-style-type: none;             /* Remove default list styling */
    padding: 0;                        /* Remove default padding */
    margin: 0;                         /* Remove default margin */
}

.title-block {
    background-color: #000000;         /* Light gray background */
    border: 1px solid #44f30e;            /* Border around each title */
    border-radius: 5px;                /* Rounded corners */
    padding: 5px;                     /* Padding inside the block */
    text-align: center;      
    color: #A8D3B6;          /* Center text */
}

.podcast-image{
    width:  170px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;

}
.podcast-title-name{
    display: flex;
    justify-content: center;
    background-color: #A8D3B6;
    color: #ffff;
   
}

.loading-screen{
display: flex;
justify-content: center;
align-items: center;
font-weight: bolder;
margin: auto;
color: #ccc;
background-color: #A8D3B6 ;
font-size: 50px;
font-style: italic;
}

.random-podcast-container{
    background-color: #A8D3B6;
}
