.content-wrapper {
    display: flexbox;
    justify-content: space-between;
    padding: 20px;
  }
  
  .preview-div {
    width: 50%; 
    height: 50%;
    padding: 10px;
    background-color: #f0f0f0; /* Light background color */
    border-radius: 10px;
  }
  .trending-div{
    width: 100px;
    height: 100px;
    
  }
  